// Cores
$cor-cinza-1: #37373c;
$cor-cinza-2: #616166;
$cor-cinza-3: #4f4f53;
$cor-cinza-4: #232326;
$cor-cinza-5: #18181b;
$cor-cinza-6: #2f2f33;
$cor-cinza-7: #959595;
$cor-cinza-8: #6a6a71;
$cor-cinza-9: #f4f4f4;
$cor-bg-icone-redes: $cor-cinza-2;
$cor-verde-logo: #62d5d2;
$cor-texto-bloco-descricao: $cor-cinza-7;
$cor-bg-bloco-conferencia: $cor-cinza-3;
$cor-bg-bloco-tema: $cor-cinza-4;
$cor-bg-bloco-convidados: $cor-cinza-6;
$cor-bullet-slider-ativo: $cor-cinza-8;

// Tamanhos
$padding-icon-redes: 10px;
$btn-height: 30px;
