<!doctype html>
<html lang="en">
{% include('incs/head.twig') %}
<body>
<div class="container">
    {% block content %}
        <h1>PHP App Generator</h1>
        <p>
            Hello! Inside here you can import your templates and put your content.
            Change this structure the way you prefer.
            <span class="glyphicon glyphicon-chevron-right"></span>
        </p>
        <p>
            Inside <code>incs/scriptsAndStyles.twig</code> template, we added Bootstrap only as example.
            Keep it if you want.
        </p>
        {% block sliderTest %}{% endblock %}
    {%  endblock %}
    {% block footer %}
        {% include('incs/scriptsAndStyles.twig') %}
    {% endblock footer %}
</div>
</body>
</html>